<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/links') %>
 
    <title>Document</title>
</head>
<body>
    <%- include('partials/navegacion') %>

    <div id="form">
        <form action="/addfotos" method="post">
            <input type="text" placeholder="Imagen" name="imagen">
            <input type="text" placeholder="Descripcion" name="descrip">
            <input type="text" placeholder="Titulo" name="titulo">
            <input type="date" name="fecha">
            <button type="submit">Enviar</button>
        </form>
    </div>

</body>
</html>