<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navegacion') %>

    <div>
      <h1>Bienvenido a mi página web, en la cual podrás subir cualquier foto sin excepcion alguna :D</h1>
      
    </div>
  </body>
</html>
